
$baseColor1: #0597E6;  //#2CA1DE;  //ACDFFF;
$baseColor2: #1FB0FF; //#4DC1FF;  //6795B2;
$complimentaryColor1: #ffffff;
$complimentaryColor2: #000000;
$complimentaryColor3: #995600;    //FFDCAC;
$complimentaryColor4: #E68305;    //B28B55;

$errorColor: #FA4B57;
$color-main-background: #ffffff;
$color-main-titleInTheBigPicture: #FF6305;

$colorStatusRed: #FF4D1F;
$colorStatusYellow: #FFD824;
// $colorStatusGreen: #1FDE24;